body{
    background-color:#000;
    font-family: 'Times New Roman', Times, serif;
    margin:10px;
}
header{
   color: rgba(240, 248, 255, 0.534);
   text-align: center;

}
section h2 {
    color: #000;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 5px 10px 10px;
    margin:50px;
  

    
}